//tipografia
$fuentePrincipal: 'Montserrat', sans-serif;

// Colores
$negro: #000000;
$blanco: #ffffff;
$grisOscuro: #292728;
$grisClaro: #a7a7a7;
$dorado: #FFD700;


//tamaños mq
$celular: 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;